# -------------------------
# xsga-PHP-API DEV settings
# -------------------------

# This file containts settings for development environment.

# DATABASE - Database settings.
#
#  DB_HOST     - database hostname or IP.
#  DB_USER     - database username.
#  DB_PASSWORD - database password.
#  DB_SCHEMA   - database schema.
#
DB_HOST="localhost"
DB_USER="user"
DB_PASSWORD="password"
DB_SCHEMA="schema"
